<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="IIO11300_HTYO.Properties.Settings.Account" connectionString="Server=mysql.labranet.jamk.fi;database=H9575_1;user=H9575;password=7ahaqDkFKfb2Oljcrm4J9avJBY0b5SR8" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>